{% extends "users/base.html" %}
{% block content %}
    <h1>Cumulative report - Course - {{ s.subject_name }} {{ s.year }}</h1><br><br>
    <div class="container3">
        <h2>General Sentiment Ratio</h2>
        <div>
            <img src="data: image/png;base64,{{ uri }}" class="iconDetails">
        </div>
    
        <h3 >Total responses = {{ total }}</h3>
        <h4 >Positive responses = {{ positives }}</h4>
        <h4 >Neutral responses = {{ neutrals }}</h4>
        <h4 >Negative responses = {{ negatives }}</h4>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h2>Wordclouds</h2>
    <br><br><br>
    <div class="row2">
        <div class="column2">

            <img src="data: image/png;base64,{{ urip }}" style="width:100%;">
            <figcaption><h3 style = "text-align:center;">Positive</h3></figcaption>
        </div>
        <div class="column2">
            <img src="data: image/png;base64,{{ urin }}" style="margin-left:50px;width:100%;">
            <figcaption><h3 style="margin-left:50px;text-align:center;" >Negative</h3></figcaption>
        </div>
    </div>
   
    
    <br><br>
    <h2>Course Wise Analysis</h2>
    <img src="data: image/png;base64,{{ uri3 }}">
    <br><br>
    <h2>Sentiments Over Time</h2>
    <img src="data: image/png;base64,{{ uri4 }}"><br><br>
{% endblock content %}