{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<form method="POST">
	{% csrf_token %}
	<fieldset class="form-group">

        {{ form|crispy }}
        <button class="btn btn-info" style="float: right;"type="submit">Add question</button>
	</fieldset>
	
</form>
<br><br>
<div style="background-color:beige;padding:10px;border:3px solid black;">
    <u><h3 style="text-align: center;">Edit Questions</h3></u>
    
    {% for fi in fq %}
    <a class="btn btn-outline-danger" href ="{% url 'deletequestion' s.id f.id fi.id %}" style="float: right;margin-left:20px;">Delete</a>
    <a class="btn btn-outline-info" href ="{% url 'editquestion' s.id f.id fi.id %}" style="float: right;margin-left:20px;">Edit</a>
    <h3><a class="article-title" href="#">{{ fi.question }}</a></h3>
    {% endfor %}
    </div>
{% endblock content %}