{% extends "users/base.html" %}
{% block content %}
    <h1>{{ fi.get_feedback_type_display }} {{ fi.get_sem_type_display }}</h1><br><br>
    <h2>General Sentiment Ratio</h2>
    <img src="data: image/png;base64,{{ data }}"><br><br>

    <h2>Wordclouds Positive VS Negative</h2>
    <div>
    {% for uril,uril2 in urilistzip %}
    <br><br>
    <h3>{{ uril }}</h3>
    <br>
    {% for uri in uril2 %}
    <img src="data: image/png;base64,{{ uri }}" height ='400px',width='400px',style="float:left;">
    {% endfor %}
    
    {% endfor %}
    </div>
    <br><br>
    <h2>Question Wise Sentiments</h2>
    
    <div style = "float:right;">
        <br>
        <h3>Key:</h3>
        {% for f in finalkey %}
        <h4>{{ f }}</h4>
    {% endfor %}
    
    </div>
    <img src="data: image/png;base64,{{ uri4 }}"width="50%" height="15%">
    
    
    
{% endblock content %}