{% extends "users/base.html" %}
{% block content %}
    <h1>{{ fi.get_feedback_type_display }} {{ fi.get_sem_type_display }}</h1><br><br>
    <h2>General Sentiment Ratio</h2>
    <br><br>
    <img src="data: image/png;base64,{{ data }}"><br><br><br><br>

    <h2>Wordclouds Positive VS Negative</h2><br>

    {% for uril,uril2 in urilistzip %}
    
    <h3>{{ uril }}</h3>
    <br>
    <div class="row2">
        <div class="column2">

            <img src="data: image/png;base64,{{ uril2.positive }}" style="width:100%;">
            <figcaption style = "text-align:center;"><h3>Positive</h3></figcaption>
        </div>
        <div class="column2">
            <img src="data: image/png;base64,{{ uril2.negative }}" style="margin-left:50px;width:100%;">
            <figcaption><h3 style="margin-left:50px;text-align:center;" >Negative</h3></figcaption>
        </div>
    </div>
    <br><br>
    {% endfor %}
    <br><br><br>
    <h2>Question Wise Sentiments</h2>
    <br><br>
    <div style = "float:right;">
        <br>
        <h3>Key:</h3>
        {% for f in finalkey %}
        <h4>{{ f }}</h4>
    {% endfor %}
    
    </div>
    <img src="data: image/png;base64,{{ uri4 }}"width="50%" height="15%">
    
    
    
{% endblock content %}