{% extends "users/base.html" %}
{% block content %}  

<a class="btn btn-info" href ="{% url 'coursereport' s.id %}" style="float: right;margin-left:20px;">Cumulative report - Course</a>
<a class="btn btn-info" href ="{% url 'profreport' s.id %}" style="float: right;margin-left:20px;">Cumulative report - Professor</a>
<a class="btn btn-info" href ="{% url 'newform' s.id %}" style="float: right;margin-left:20px;">Create new form</a>
<br><br>
<div style="background-color:beige;padding:10px;border:3px solid black;">
    <h2 style="text-align: center;"><u>My Forms</u></h2>
    {% for fi in f %}
    <a class="btn btn-outline-info" href ="{% url 'formreport' s.id fi.id %}" style="float: right;margin-left:20px;">View report</a>
    <a class="btn btn-outline-danger" href ="{% url 'deleteform' s.id fi.id %}" style="float: right;margin-left:20px;">Delete this form</a>
<a class="btn btn-outline-info" href ="{% url 'editform' s.id fi.id %}" style="float: right;margin-left:20px;">Edit this form</a>
    
    <h3><a class="article-title" href="#">{{ fi.form_name }} </a></h3>
    {% endfor %}
    <br>
    <h2 style="text-align: center;"><u>Drafts</u></h2>
    {% for fi in d %}
    <a class="btn btn-outline-info" href ="{% url 'upload' s.id fi.id %}" style="float: right;margin-left:20px;">Upload form</a>
    <a class="btn btn-outline-danger" href ="{% url 'deletedraft' s.id fi.id %}" style="float: right;margin-left:20px;">Delete this form</a>
<a class="btn btn-outline-info" href ="{% url 'editdraft' s.id fi.id %}" style="float: right;margin-left:20px;">Edit this form</a>
    
    <h3><a class="article-title" href="#">{{ fi.form_name }} </a></h3>
    {% endfor %}
</div>
    
{% endblock content %}