{% extends "users/base.html" %}
{% block content %}
    <h1>Cumulative report - Professor - {{ s.subject_name }} {{ s.year }}</h1><br><br>
    <h2>General Sentiment Ratio</h2>
    <img src="data: image/png;base64,{{ uri }}">
    <br><br>
    <h2>Wordclouds Positive VS Negative</h2>
    <br>
    <div class="row2">
        <div class="column2">
            <img src="data: image/png;base64,{{ urip }}" style="width:100%;">
        </div>
        <div class="column2">
            <img src="data: image/png;base64,{{ urin }}" style="width:100%;">
        </div>
    </div>
   
    
    <br><br>
    <h2>Course Wise Analysis</h2>
    <img src="data: image/png;base64,{{ uri3 }}">
    <br><br>
    <h2>Sentiments Over Time</h2>
    <img src="data: image/png;base64,{{ uri4 }}"><br><br>
{% endblock content %}