{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}    
    <h2 style="color:black;background-color:beige;display:inline;padding: 5px;">{{ u.first_name }} {{ u.last_name }}</h2>
    <a class="btn btn-info" href ="{% url 'student-report' sid u.id %}" style="float: right;">View {{ u.first_name }}'s report</a>
    <br><br>
    <div class="content-section">
        <form method="POST" action =".">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Feedback Form</legend>
                <p><i>Please tick the skill if the student possesses it. Leave it unticked if not.</i></p>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
                
            </div>
            
        </form>
        
    </div>
{% endblock content %}